body {
    background-color: lightblue;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.outer-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 650px;
    max-width: 400px;
    width: 90%;
    padding: 20px;
    background-color: rgb(183, 62, 145);
}

.display-result {
    border: 5px solid black;
    background-color: azure;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
}

.input {
    text-align: right;
    overflow: hidden;
    width: 80%;
    height: 75%;
    font-size: 2rem;
}

.flex-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

button {
    color: rgb(63, 38, 38);
    font-size: 2rem;
    width: 50px;
    height: 50px;
    flex: 1;
}

#special {
    background-color: rgb(201, 68, 68);
    color: white;
}